.uploaded-img-wrapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.input-field-wrapper {
    display: none;
}

.upload-file-btn-wrapper {
    border: 1px solid grey;
}

.delete-icon-wrapper {
    font-size: 24px;
    color: red;
}

.input-checkbox-wrapper {
    height: 20px;
    width: 20px;
}