<header>
    <div class="d-flex bg-body-tertiary">
        <!-- Navbar Wrapper -->
        <div class="navbar-container justify-content-between">
            <div>
                <!-- System Title -->
                <h3 class="system-title m-0">Party Management System</h3>
            </div>
            <div class="logout-btn-container">
                <!-- Logout Button -->
                <button class="btn btn-danger" (click)="onLogout()">Logout</button>
            </div>
        </div>
    </div>
</header>